<h1>Leave Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Leave Type</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration</th>
      <th>Status</th>
      <th>Reason</th>
      <th>Submission Date</th>
      <th>Approval</th>
      <th>Denial Reason</th>
      <% if current_employee.role&.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @leave.each do |leave| %>
      <tr>
        <td><%= leave.employee.first_name %></td>
        <td><%= leave.leave_type %></td>
        <td><%= leave.start_date.strftime('%Y-%m-%d') %></td>
        <td><%= leave.end_date.strftime('%Y-%m-%d') %></td>
        <td><%= leave.duration %></td>
        <td><%= leave.leave_status %></td>
        <td><%= leave.reason %></td>
        <td><%= leave.submission_date&.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= leave.approval %></td>
        <td><%= leave.denial_reason %></td>
        <% if current_employee.role&.admin? %>
          <td>
            <%= link_to 'Approve', approve_leafe_path(leave), method: :patch, class: 'btn btn-success btn-sm', data: { confirm: 'Are you sure you want to approve this leave request?' } %>
            <%= link_to 'Deny', deny_leafe_path(leave), method: :patch, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure you want to deny this leave request?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>